<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<% @transactions.each do |t| %>
  <br>
  <h2><%= t.title %></h2>
  <h2><%= t.amount %></h2>
  <tr>
    <td><%= link_to 'Show', t %></td>
    <td><%= link_to 'Edit', edit_transaction_path(t) %></td>
    <td><%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <br>
<% end %>
<br>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
